.content-event {
  padding: 0 10px 20px;
  font-size: 15px;
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  b {
    font-weight: bold;
    line-height: 150%;
  }
}
