@import "@/assets/scss/common/_variableAndUtility.scss";
@import "@/assets/scss/common/_rwd.scss";

* {
  &:not(i) {
    font-family: MicrosoftJhengHei;
  }
}
#nuxt-loading,
[v-cloak] {
  display: none;
}
.container {
  overflow: hidden;
  margin: 0 auto;
  padding: $MobileHeaderHeight 0 10px;
  width: 100%;
  max-width: $MobileMaxWidth;
  min-height: calc(100vh - #{$MobileHeaderHeight} + 5px - 87px);
  @include BreakPointLarge {
    padding-top: #{$DesktopHeaderHeight};
    width: 100%;
    max-width: $ContainerMaxWidth;
    min-height: calc(100vh - #{$DesktopHeaderHeight} + 5px);
  }
}
.border {
  border-radius: 10% 6% 43% 5% / 5% 14% 7% 15%;
  border-width: 2px 3px 2px 5px;
  box-shadow: 1px 2px 3px map-get($color, "Gary20_opacity");
}
ul {
  li {
    list-style: none;
    text-align: center;
  }
}
input,
label {
  border: 0;
  outline: 0;
  padding: 0 5px;
  cursor: pointer;
}

/* 從哪進場 */
.fade-enter {
  opacity: 0;
}
/* 進場中 */
.fade-enter-active {
  transition: opacity 0.5s;
}
/* 進場後 */
.fade-enter-to {
  opacity: 1;
}

.ivu-tabs-container::v-deep {
  .ivu-tabs-bar {
    border-bottom: 0;
    margin: 7px 0px 0;
  }
  .ivu-tabs-mini {
    .ivu-tabs-tab {
      position: relative;
      font-size: 16px;
      padding: 0 15px 13px;
    }
    .ivu-tabs-ink-bar {
      height: 5px;
      background: map-get($color, "Orange10_opacity");
    }
    .ivu-tabs-nav,
    .ivu-tabs-nav .ivu-tabs-tab-active,
    .ivu-tabs-nav .ivu-tabs-tab:hover {
      color: map-get($color, "Black10");
    }
    .ivu-tabs-nav-prev,
    .ivu-tabs-nav-next {
      top: -5px;
    }
  }
}

@media print {
  .headerContainer,
  .searchContentSection,
  .footerContainer {
    display: none !important;
  }
}
@page {
  size: A4 portrait;
  margin: 1.2cm; // 一般頁面的邊距
  orphans: 4; //orphans 是指頁面最後一個段落的行數、widow 則是頁面第一個段落的行數，初始值都是2，表示限制頁面頂部及底部的段落不能只顯示一行就被分頁
  widows: 2;
}
